@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import './main/main';
@import './components/navbar';
@import './components/header';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

.i18next {
    position: fixed; 
    bottom: 20px;
    right: 20px; 
    z-index: 10000;
  
    a {
        display: inline-block;
        background: none;
        border: none;
        backdrop-filter: blur(10px);
        cursor: pointer;
        background-color: #fffdfd47;
        backdrop-filter: blur(10px);
        border-radius: 5px;
        margin: 0 1px;
        font-size: 14px;
        color: white;
        text-decoration: none;
        font-family: 'Inter', sans-serif;
        padding: 5px;
        transition: all .3s;
    
        &:hover {
        box-shadow: 0 5px 10px rgb(0 0 0 / 12%);
        } 
    }
}


/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}