.product-container {
    .head {
        height: 400px;
        background-position: center;
        background-size: cover;
        position: relative;
        transform: translateY(-60px);

        .backdrop {
            width: 100%;
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            height: 100%;
            background: rgb(0,0,0);
            background: linear-gradient(0deg, rgba(0,0,0,1) 7%, rgba(70,70,70,0) 100%);
            backdrop-filter: blur(100px);
            display: flex;
            align-items: center;
            padding: 0 50px;

            img {
                width: 360px;
                border-radius: 10px;
                display: block;
                transition: all .3s;
            }

            .product-name {
                width: 50%;
                margin-left: 20px;

                .production {
                    display: flex;
                    align-items: center;

                    img {
                        width: 26px;
                        height: 26px;
                    }
                    span {
                        margin-left: 5px;
                    }
                }

                h1 {
                    font-size: 4rem;
                    cursor: pointer;
                    line-height: 1;
                }

                a {
                    font-size: 13px;
                    color: silver;
                    font-weight: 300;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                small {
                    display: block;
                    color: silver;
                    margin-top: 10px;
                }
            }

            .handlers {
                position: absolute;
                bottom: 20px;
                display: flex;
    
                .favorite, .follow {
                    cursor: pointer;
                    margin: 0 10px;
                    
                    img {
                        width: 32px;
                        height: 32px;
                    }
                }
            }
        }
    }

    .product-block {
        margin: 0 10px;
        transform: translateY(-60px);

        .subtitles {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin: 5px;
            padding-bottom: 5px;
            border-bottom: 1px solid rgb(41, 41, 41);

            small {
                color: silver;
            }
        }
        
        .block {
            display: flex;
            flex-direction: column;
    
            .product-item {
                padding: 5px;
                border-radius: 4px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.42);
                margin: 5px;
                transition: all .3s;
                position: relative;
                
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                align-items: center;

                .picture {
                    padding-right: 20px;
                    position: relative;

                    img {
                        height: 40px;
                        border-radius: 3px;
                    }

                    .body-comments {
                        position: absolute;
                        top: 5px;
                        left: 100px;
                        display: none;
                        z-index: 100;
                        
                        .body, .comments {
                            margin: 0 5px;
                            border-radius: 5px;
                            padding: 5px;
                            transition: all .3s;
                            cursor: pointer;

                            img {
                                width: 20px;
                                height: 20px; 
                            }

                            &:hover {
                                background-color: rgb(58, 58, 58);
                            }
                        }
                    }
                }
                .title {
                    padding-right: 20px;
                    span {
                        font-weight: 300;
                        color: silver;
                        -webkit-line-clamp: 1; 
                        -webkit-box-orient: vertical;
                        display: -webkit-box;
                        overflow: hidden;
                    }
                }

                .timestamp {
                    padding-right: 20px;
                    
                    small {
                        color: silver;
                    }
                }

                .access {
                    position: absolute;
                    right: 50px;

                    img {
                        width: 26px;
                        height: 26px;
                    }
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.11);

                    .picture {
                        .body-comments {
                            display: flex;
                        }
                    }
                }
            }
        }
    }

    .empty {
        width: 100%;
        display: block;
        text-align: center;
        color: silver;
    }
}

// Mediaqueries
// ==========================================================
@media screen and (min-width: 2030px) {
    .product-container {
        .product-block {
            width: 1780px;
        }
    }
}

@media screen and (max-width: 1300px) {
    .product-container {
        .head {
            .backdrop {
                img {
                    width: 320px;
                }
    
                .product-name {
                    h1 {
                        font-size: 3.5rem;
                    }
                }
                
            }
        }
    }
}


@media screen and (max-width: 1200px) {
    .product-container {
        .head {
            .backdrop {
                img {
                    width: 300px;
                }
    
                .product-name {
                    h1 {
                        font-size: 3rem;
                    }
                }
                
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .product-container {
        .head {
            .backdrop {
                img {
                    width: 280px;
                }
    
                .product-name {
                    h1 {
                        font-size: 2.5rem;
                    }
                }
                
                .handlers {
                    bottom: 50px;
                }
            }
        }
    }
}


@media screen and (max-width: 1024px) {
    .product-container {
        .head {
            .backdrop {
                img {
                    width: 260px;
                }
    
                .product-name {
                    .production {
                        img {
                            width: 20px;
                            height: 20px;
                        }
                        span {
                            font-size: 14px;
                        }
                    }

                    h1 {
                        font-size: 2rem;
                    }
                }
                
                .handlers {
                    bottom: 70px;
                }
            }
        }
    }
}

@media screen and (max-width: 820px) {
    .product-container {
        .head {
            .backdrop {
                img {
                    width: 280px;
                }
    
                .product-name {
                    h1 {
                        font-size: 2.5rem;
                    }
                }
            }
        }

        .product-block {
            padding-bottom: 40px;
        }
    }
}


@media screen and (max-width: 640px) {
    .product-container {
        .head {
            .backdrop {
                flex-direction: column;
                justify-content: center;
                padding: 40px 20px 0 20px;

                img {
                    width: 360px;
                }
    
                .product-name {
                    margin-top: 10px;
                    width: 100%;

                    .production {
                        display: none;
                    }

                    h1 {
                        font-size: 1.5rem;
                        text-align: center;
                    }
                    small {
                        text-align: center;
                    }

                    a {
                        display: block;
                        text-align: center;
                        margin-top: 5px;
                    }
                }

                .handlers {
                    bottom: -5px;
                }
            }
        }

        .product-block {
            .block {
                .product-item {
                    .access {
                        right: 20px;
                    }

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.11);
    
                        .picture {
                            .body-comments {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 420px) {
    .product-container {
        .head {
            .backdrop {
                img {
                    width: 100%;
                }
    
                .product-name {
                    margin-top: 10px;

                    .production {
                        display: none;
                    }

                    h1 {
                        font-size: 1.2rem;
                    }
                }

                .handlers {
                    bottom: -5px;
                }
            }
        }

        .product-block {
            .subtitles {
                display: none;
            }

            .block {
                .product-item {
                    margin: 5px 0;
                    display: flex;
                    
                    .picture {
                        padding-right: 10px;
    
                        img {
                            height: 40px;
                        }
                    }
                    .title {
                        padding-right: 30px;
                        
                        span {
                            font-size: 15px;
                        }
                    }
    
                    .timestamp {
                        display: none;
                    }
    
                    .access {
                        right: 5px;
                    }
                }
            }
        }
    }
}