.setting-container {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    background-color: black;
    height: 100%;
    z-index: 10000;
    padding: 40px 20px;

    a, span {
        color: white;
    }

    .close-btn {
        position: absolute;
        top: 20px;
        right: 20px;

        svg {
            font-size: 30px;
        }
    }

    .logo {
        a {
            img {
                width: 200px;
            }
        }
    }

    ul {
        list-style: none;

        li {
            list-style: none;
            font-size: 16px;
            font-weight: bold;

            a.user {
                margin-top: 20px;
                padding: 5px 10px;
                display: flex;
                align-items: center;
                border-bottom: 1px solid white;

                img {
                    width: 20px;
                }
            }

            .logout, .register, .login, a {
                display: inline-block;
                padding: 5px 10px;
                cursor: pointer;
            }
        }
    }
}