.header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 15px 20px;

    
    .intro-header {
        display: flex;
        justify-content: space-between;

        .prev-next {
            display: flex;
            align-items: center;
    
            a {
                overflow: hidden;
                width: 26px;
                height: 26px;
                transition: all .3s;
                border-radius: 50%;
                background: black;
                margin: 0 5px;
                display: flex;
                justify-content: center;
                align-items: center;
    
                img {
                    width: 20px;
                }
                &:hover {
                    background: rgb(36, 36, 36);
                }
            }
        }
    
        .account {
            display: flex;
            align-items: center;

            .register, .login {
                margin: 0 5px;
                display: inline-block;
                font-size: 14px;
                padding: 5px 15px;
                transition: all .3s;
                border-radius: 50px;
            }

            .register {
                background-color: black;
                border: 1px solid black;
                
                &:hover {
                    opacity: .7;
                }
            }

            .login {
                background-color: white;
                border: 1px solid white;
                color: black;

                &:hover {
                    opacity: .7;
                }
            }

            .user {
                display: flex;
                align-items: center;
                background-color: black;
                padding: 5px 15px;
                border-radius: 50px;
                margin: 0 5px;

                img {
                    width: 20px;
                }
                span {
                    font-size: 14px;
                }
            }

            .logout {
                margin: 0 5px;
                cursor: pointer;
                transition: all .3s;
                
                img {
                    width: 20px;
                }
            }

        }
    }

}