.header {
    position: sticky;
    width: 100%;
    top: 0;
    background-color: #00000000;
    padding: 15px 20px;

    
    .intro-header {
        display: flex;
        justify-content: space-between;

        .prev-next, .account {
            display: flex;
            align-items: center;
    
            a {
                overflow: hidden;
                width: 26px;
                height: 26px;
                transition: all .3s;
                border-radius: 50%;
                background: black;
                margin: 0 5px;
    
                img {
                    width: 100%;
                    padding: 5px;
                }
                &:hover {
                    background: rgb(36, 36, 36);
                }
            }
        }
    
        .account {
            padding: 5px 15px;
            border-radius: 20px;
            background-color: black;
            transition: all .3s;
            cursor: pointer;
    
            img {
                width: 20px;
            }
            span {
                margin-left: 5px;
                font-size: 14px;
            }
    
            &:hover {
                background-color: rgb(36, 36, 36);
            }
        }
    }

}